.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg {
  margin: auto;

  border: 20px solid #eaf0f6;

  border-radius: 50%;

  border-top: 20px solid #9e5a5a;

  width: 200px;

  height: 200px;

  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
